 <!--/<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header ">
        <button type="button" class="navbar-toggle navbar-toggler pull-right" (click)="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand visible-xs" href="#">ng2-charts</a>
      </div>
      <nav class="hidden-xs hidden-xs-down">
        <ul class="nav navbar-nav">
          <li class="nav-item"><a href="#top" role="button" class="navbar-brand">ng2-charts</a></li>
          <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
      <nav class="visible-xs ">
        <ul class="nav nav-pills nav-stacked scrollable-menu" [collapse]="!isCollapsed" (click)="isCollapsed = !isCollapsed; true">
          <li class="nav-item">
            <a class="dropdown-item" href="uuuu">Home</a>
              <a class="dropdown-item" href="uuu">About</a>
                <a class="dropdown-item" href="uuu">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </nav>-->

 <app-navbar></app-navbar>


   <div class="container">

      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

    </div><!-- /.container -->